@font-face {
    font-family: 'Roboto';
    src: url('roboto.ttf');
}

Text{
    -fx-font-family: 'Roboto';
}

Button{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #2274A5;
    -fx-background-radius: 17;
}

#registerButton{
    -fx-text-fill: #000000;
    -fx-text-weight: bold;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #FFFFFF;
}

#register_field{

}